body { background: #944dfa; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 33px; display: flex; }
.block-product-0 { color: #df1a40; font-size: 14px; margin-bottom: 5px; }
.block-email-1 { color: #efcf5b; font-size: 19px; margin-bottom: 5px; }
.block-order-2 { color: #1ca891; font-size: 14px; margin-bottom: 5px; }
.block-helper-3 { color: #add943; font-size: 16px; margin-bottom: 5px; }
.block-cluster-4 { color: #f88b97; font-size: 16px; margin-bottom: 5px; }
.block-notify-5 { color: #64609b; font-size: 21px; margin-bottom: 5px; }